In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 예상문제 1
# pandas 라이브러리를 사용하여 data 폴더의 1_used_car_prices.csv 파일을 읽어 car_df 라는 이름의 데이터프레임 변수에 저장하는 코드를 작성하시오.

car_df = pd.read_csv("data/1_used_car_prices.csv")

In [8]:
car_df.head()

,brand,age_years,mileage_km,engine_type,engine_size_cc,horsepower,fuel_efficiency_kml,accident_count,color,option_grade,price_krw
0,B사,14.0,218413.0,전기,3253.0,333.0,8.6,3.0,검정,고급,100.0
1,D사,11.0,90552.0,하이브리드,3294.0,327.0,8.3,0.0,은색,고급,100.0
2,C사,13.0,178150.0,디젤,3805.0,387.0,4.8,0.0,흰색,중급,100.0
3,NaN,7.0,127044.0,하이브리드,1146.0,110.0,19.2,2.0,기타,고급,100.0
4,A사,2.0,40116.0,디젤,3165.0,340.0,8.9,0.0,은색,고급,3987.0

In [ ]:
# 예상문제 2
# /data 폴더의 6_student_final_grades.csv 파일을 불러와 데이터의 구조와 결측치 현황을 파악하기 위한 코드를 작성하시오

student_df = pd.read_csv("data/6_student_final_grades.csv")
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   weekly_study_hours    1200 non-null   float64
 1   attendance_rate       1200 non-null   float64
 2   tutoring              1200 non-null   object
 3   major                 1200 non-null   object
 4   midterm_score         1160 non-null   float64
 5   avg_assignment_score  1200 non-null   float64
 6   online_courses        1200 non-null   float64
 7   club_activity         1156 non-null   object
 8   final_exam_score      1200 non-null   float64
dtypes: float64(6), object(3)
memory usage: 84.5+ KB

In [13]:
df = pd.read_csv("data/8_customer_churn.csv", encoding='utf-8')
df.head(5)

,tenure_months,contract_type,payment_method,internet_service,monthly_charge,total_charges,data_usage_gb,support_calls,addon_services,churn
0,32.0,2년,신용카드,기가,124253.0,4355946.0,123.0,0.0,0.0,0
1,45.0,무약정,지류,광랜,35326.0,1372634.0,125.0,0.0,5.0,0
2,40.0,무약정,지류,기가,128300.0,5179948.0,371.0,7.0,0.0,1
3,59.0,2년,신용카드,광랜,20723.0,1242669.0,158.0,5.0,3.0,0
4,46.0,1년,신용카드,기가,89569.0,3572681.0,371.0,3.0,4.0,0